aside{
    width: 30% !important;
    height: 100vh !important;
    /* border:solid 1px #000; */
}

.sidebar-heading{
    border-right: solid 1px #666;
    border-bottom: solid 1px #666 !important;
}

.list-group{
    border-right: solid 1px #666 !important;
    height: 90vh;

}
.list-group ul {
    padding: 20px 10px;
    list-style: none;
}

.list-group ul li {
    padding: 10px 10px;
    list-style: none;
    margin-bottom: 10px;
}

.list-group ul li.active {
background-color: #17a2b8;
color:#fff;
border-radius: 6px;
}

.board-heading{
    text-align: center;
    padding: 10px ;
}